/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'america';
  src: url('america.woff') format('woff'), url('america.ttf') format('ttf');
}

body {
  margin: 0;
  font-size: 2vw;
  color: white;
  text-align: center;
  font-family: america;
  background-color: black;
}

#container {
  width: 100vw;
  height: 100vh;
}

.house {
  width: 6.66vw;
  height: 5vh;
  line-height: 5vh;
  background: black;
  border: 1px solid white;
  float: left;
}

.house:hover {
  background: lime;
}

#button {
  cursor: pointer;
}
