/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  background-color: black;
  color: black;
  font-size: 4px;
  font-family: Courier, Monospace;
  text-align: center;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.container {
}

.col {
  float: left;
}
.fade {
  width: 6.66vw;
  height: 5vh;
}

.house {
  background: lime;
  margin: 1%;
  width: 6.66vw;
  height: 5vh;
  padding: 5px;
  display: none;
}

.house:hover {
  background: red;
}




#button {
  cursor: pointer;
}
